body{
    display:flex;
    margin: 0;
    background-color: darkslategrey;
    justify-content: center;
}
#game-screen{
    margin-top: 40px;
    height: 800px;
    width: 800px;
    position: relative;
    cursor: cell;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mutetoggle{
    position: absolute;
    bottom: -20px;
    right: 0;
}
canvas{
    background-color: #051e3e;
    height: 100%;
    width: 100%;
}
#main-menu{
    display: flex;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background-color: #051e3e;
    border: 2px solid black;
    color: #851e3e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
#buttons{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.select{
    margin-bottom: 30px;
    align-self:center;
    width: 40%;
    height: 50px;
    background-color: #851e3e;
    color: grey;
    border: none;
    border-radius: 8px;
    cursor: cell;
    box-shadow: 0 10px #451e3e;
}
#score{
    position: absolute;
    top: 20px;
    left: 20px;
}
#ammo{
    position: absolute;
    top: 20px;
    right: 20px;
}

.select:active{
    transform: translateY(5px);
    background-color: #65172f;
    box-shadow: 0 5px #371832;
}
.select:hover{
    background-color: #a5254d;
}

#controls-screen{
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background-color: #051e3e;
    border: 2px solid black;
    color: #851e3e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
#help-screen{
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background-color: #051e3e;
    border: 2px solid black;
    color: #851e3e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
#back2{
    margin-top: 40px;
}
#back1{
    margin-top: 30px;
}
#help-screen p{
    margin-bottom: 0px;
}
h1{
    font-size: 50px;
}
#round{
    visibility: hidden;
}